main {
    width: 100%;
    margin: 0 auto;
    
  }

body {
  
    padding-top: 30px;
    padding-bottom: 30px;
background-color: #b8f6f8;;
   
  }

  header {
    
    top: 0;
    position: fixed;
    background-color: #67a50b;
    text-align: left;
    padding:10px 0;
    width: 100%;
 
 
}