#load {
	color: #306108;
	font-size: 15px;
	border-radius: 5px;
	border: solid 2px #268a16;
	text-shadow: 1px 1px 0px #aade7c;
	box-shadow: inset 1px 1px 2px 0px #c9efab;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: Arial;
	font-weight: bold;
	background: linear-gradient(180deg, #77d42a 10%, #5cb811 100%);
	display: inline-block;
	align-items: center;
	margin: 10px 10px 10px 0;
	padding:4px 25px;
	
}
#load:hover {
	background: linear-gradient(180deg, #5cb811 10%, #77d42a 100%);
}

#zoom {
	color: #3b2f17;
	background-color:orange;
	font-size: 15px;
	border-radius: 5px;
	border: solid 2px #9b690c;
	text-shadow: 1px 1px 0px orangered;
	box-shadow: inset 1px 1px 2px 0px #f7b709;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: Arial;
	font-weight: bold;
	background: linear-gradient(180deg, #ecb753 10%, #704a04 (93 7% 28%) 100%);
	display: inline-block;
	align-items: center;
	margin: 10px 10px 10px 0;
	padding:4px 25px;
	
}
#zoom:hover {
	background: linear-gradient(180deg, #74551d 10%, #df9b1e 100%);
}



  #activity-details{
	margin-bottom: 70px;
}

  .isOwner {
	background:linear-gradient(to bottom, #eea564 5%, #864f1f 100%);
	background-color:#e67e22;
	border-radius:5px;
	border:2px solid #c77125;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 25px;
	text-decoration:none;
	text-shadow:4px -1px 7px #e67e22;
	display: inline-block; 
	cursor: pointer;
	margin: 10px 10px 10px 0;
	text-decoration: none;
}
.isOwner:hover {
	background:linear-gradient(to bottom, #804615 5%, #f59b4c 100%);
	background-color:#804715;
}
.isOwner:active {
	position:relative;
	top:1px;
}
label{
	background:linear-gradient(to bottom, #f7f794 5%, #caca00 100%);
	background-color:#f8f806;
	border-radius:5px;
	border:2px solid #a8a800;
	margin: 10px 10px 10px 0;
	padding:1px 2px 1px 2px;
}


span{
	text-decoration: none;
	font-weight:600;
	font-style: normal;
	color:#000000;
	margin: 10px 30px 10px 0px;
}

